// Define root size

html {
  font-size: $root-size;
}

@include media-query($tablet) {
  html { font-size: $root-size-lg;}
}

// Reset spacing

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, img, figure {
  margin: 0;
  padding: 0;
}

blockquote, pre, ul, p, img, figure {
  margin-bottom: $space-y / 2;
}

h2, h3, h4, h5, h6 {
  margin-bottom: $space-y / 3;
}

li {
  margin-bottom: $space-y / 6;
}

// Body

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  color: $grey-dark;
}

// Titles

h1, h2, h3, .btn {
  font-family: $font-family-header;
}

h1 {
  font-size: $font-size-lg;
  font-weight: $font-weight-light;
  // color: $grey-dark;
}

h2 {
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
  // color: $grey-dark;
}

p {
  font-size: 1.2rem;
  font-weight: $font-weight-light;
  letter-spacing: 0.01rem;
}

// Links

a {
  color: $grey;
  text-decoration: none;
  &:link, &:visited {}
  &:hover, &:active, &:focus {
    color: $grey-dark;
  }
}

// Buttons

.btn {
  display: inline-block;
  margin: 0;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 999em;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  transition: all 0.1s ease-in;
  &:link, &:visited {
    color: $white;
    background: $blue-light;
  }
  &:hover, &:active, &:focus {
    color: $white;
    background: $blue;
  }
}

// Lists

ul {
  padding-left: 0;
  list-style: none;
}

// Seperators

hr {
  width: 20%;
  height: 4px;
  margin: 0 auto;
  border: 0;
  border-radius: 2px;
  background: $grey-light;
  margin-bottom: $space-y;
}

// Containers and Grids

header, section {
  padding-top: $space-y;
  padding-bottom: $space-y;
}

.container {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
  box-sizing: border-box;
}

.row {
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.col-13, .col-12, .col-23, .col-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  float: left;
  padding-left: $gutter;
  padding-right: $gutter;
  box-sizing: border-box;
  text-align: center;
}

@include media-query($tablet) {
  .col-13, .col-12, .col-23, .col-11 { text-align: left; }
  .col-13 { width: 180px; }
  .col-12 { width: 50%; }
  .col-23 { width: 66.66666%; }
}
