// Define root size

html {
  font-size: $root-size;
}

@include media-query($tablet) {
  html { font-size: $root-size-lg;}
}

// Reset spacing

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, img, figure {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: $space-y;
}

h1, h2, blockquote, pre, ul, img, figure {
  margin-bottom: $space-y / 2;
}

h3, h4, h5, h6 {
  margin-bottom: $space-y / 3;
}

li {
  margin-bottom: $space-y / 4;
}

// Body

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  color: $grey-dark;
}

// Titles

h1, h2, h3, .btn {
  font-family: $font-family-header;
}

h1 {
  font-size: $font-size-xl;
  font-weight: $font-weight-light;
  color: $grey-dark;
}

h2 {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  color: $blue;
}

h3 {
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
  color: $blue-light;
}

p {
  font-size: 1.2rem;
  font-weight: $font-weight-light;
  letter-spacing: 0.01rem;
}

// Links

a {
  color: $blue;
  text-decoration: none;
  &:link, &:visited {}
  &:hover, &:active, &:focus {
    color: darken($blue, 15%);
  }
}

// Buttons

.btn {
  display: inline-block;
  margin: 0;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 999em;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  transition: all 0.1s ease-in;
  &:link, &:visited {
    color: $white;
    background: $blue-light;
  }
  &:hover, &:active, &:focus {
    color: $white;
    background: $blue;
  }
}

// Lists

ul {
  padding-left: 0;
  list-style: none;
}

// Seperators

hr {
  width: 20%;
  height: 4px;
  margin: 0 auto;
  border: 0;
  border-radius: 2px;
  background: $grey-light;
  margin-bottom: $space-y;
}

// Containers and Grids

.container {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
  box-sizing: border-box;
}

.row {
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

section {
  padding-bottom: $space-y;
}


