footer {
  padding: $space-y 0;
  font-weight: 300;
  color: $grey-light;
  background: $grey-white-light;
}

.footer {
  // &-list {
  &-link {
    color: $grey-light;
    i { min-width: 1.5rem }
  }
}


// &-link:hover {
//   color: $grey-mid;
// }

.footer-col {
  position: relative;
  min-height: 1px;
  float: left;
  padding-left: $gutter;
  padding-right: $gutter;
  box-sizing: border-box;
}

.footer-col-1, .footer-col-2 {
  // width: 100%;
  width: -webkit-calc(100% - (#{$gutter}));
  width:         calc(100% - (#{$gutter}));


}


@include media-query($tablet) {
  .footer-col-1 {
    // width: 50%;
    width: -webkit-calc(50% - (#{$gutter}));
    width:         calc(50% - (#{$gutter}));
  }

  .footer-col-2 {
    // width: 50%;
    width: -webkit-calc(50% - (#{$gutter}));
    width:         calc(50% - (#{$gutter}));
  }

}
