.logo img {
  width: 300px;
}

// #title {
//   padding-top: $space-y;
//   padding-bottom: $space-y;
//   // background: $grey-light-light;
// }

#introduction {
  padding-top: $space-y;
  color: $white;
  background: $blue;
  h2 { color: $white; }
}

#projects {
}

ul.projects {}
