.logo img {
  width: 250px;
}

#welcome {
  padding-top: $space-y;
  padding-bottom: $space-y;
  text-align: center;
  background: $grey-light-light;
}

#introduction {
  padding-top: $space-y;
  text-align: center;
}

#capability {
  h2 { text-align: center; }
}

#call {
  text-align: center;
}

.block {
  margin-bottom: $space-y;
}
