.project-list-item {
  margin-bottom: 3rem;

}

.project-picture {
  width: 150px;
  height: 150px;
  background: $grey-light;
  border-radius: 50%;
}

.link-list {
  margin-bottom: 0;
  li {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-family: "Helvetica";
    font-size: $font-size-xs;
    color: $grey;
    background: $grey-light;
    border-radius: $radius-infinite;
  }
}

.skill-list {
  margin-bottom: 0;
  li {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-family: "Helvetica";
    font-size: $font-size-xs;
    color: $blue-dark;
    background: $blue-light;
    border-radius: $radius-infinite;
  }
}
