// Device breakpoints

$phone:           544px;
$tablet:          768px;
$computer:        992px;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Root dimensions

$root-size:       16px;
$root-size-lg:    18px;

// Fonts


// Text variables

$font-family-base:    'Roboto Slab', 'Georgia', 'serif';
$font-family-header:  'Montserrat', 'Helvetica', 'sans-serif';
$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-bold:    700;
$font-size-xs:        0.75rem;
$font-size-sm:        0.875rem;
$font-size-base:      1rem;
$font-size-lg:        1.5rem;
$font-size-xl:        2.5rem;
$line-height:         1.5;
$letter-spacing:      0.01rem;

// Whitespace variables

$space-y:             3rem;
$space-x:             1.5rem;
$nav-height:          60px;
$footer-height:       330px;

// Colors

$white:               #FFF;
$pink:                #FF566B;
$blue-light:          #B0CCFF;
$blue:                #7DA9F9;

$blue-dark:           #3479F6;
$green-light:         #AAEFC7;
$green:               #2ecc71;
$green-dark:          #25a25a;
$yellow:              #f1c40f;
$red:                 #e74c3c;
$orange:              #f39c12;
$purple:              #9b59b6;

$facebook:            #3b5998;
$linkedin:            #0077b5;
$twitter:             #55acee;
$medium:              #00AB6C;
$rss:                 #f26522;

// Grayscale

$grey-white-light:    #F9F9F9;
$grey-white:          #EAEAEA;
$grey-light:          #B3B3B3;
$grey:                #808080;
$grey-dark:           #464646;
// $grey-dark-dark:      #01090D;

// Grid

$gutter:              $root-size;


// Blocks

$radius:              .5rem;
$radius-infinite:     999em;
