<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="footer-col footer-col-1">
        <ul class="footer-list">
          <li>Coach Johnny</li>
          <li>156 5th Avenue</li>
          <li>New York, NY 10010</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="footer-list">
          <li>Contact</li>
          <li>www.johnny.chat</li>
          <li>contact@johnny.chat</li>
        </ul>
      </div>

    </div>
  </div>
</footer>
