<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="footer-col footer-col-1">
        <ul class="footer-list">
          <li>Willem Browne</li>
          <li>156 5th Avenue</li>
          <li>New York, NY 10010</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="footer-list">
          <li>willooz.github.io</li>
          <li>GH willooz</li>
          <li>TW willooz</li>
        </ul>
      </div>

    </div>
  </div>
</footer>
