---
title: Home
---

<section class="welcome">
  <div class="logo">
    <%= image_tag "johnny-bravo.png" %>
  </div>
  <h1>I'm coach Johnny</h1>
  <%= link_to "Text me 999-888-777", "https://middlemanapp.com", target: "_blank", class: "btn" %>
</section>

<section class="container">
  <p>Hi.</p>
  <p>I'm a virtual coach specialized in solving business problems. From daily management issues to severe business crises, there's nothing we can't fix together!</p>
</section>

<section class="container">
  <h3>What I can do</h3>
  <h4>1. Frame your problem</h4>
  <p>A problem well put is half solved! I'll test your assumptions and make sure you're on the right track from the get go!</p>

  <h4>2. Uncover root causes</h4>
  <p>Guesses don't fix anything. I'll use techniques like 5 Why, Triz or even Shainin to get to the bottom of things.</p>

  <h4>3. Ensure resolution</h4>
  <p>A good analysis is worthless without actual change. I'll track your implementation of solutions and make sure you shine.</p>
</section>

<section class="container">
  <h3>Try me now</h3>
  <p>Tell me about your problems and </p>
  <%= link_to "Text me 999-888-777", "https://middlemanapp.com", target: "_blank", class: "btn" %>
</section>
