---
title: Willem's projects
---

<section id="introduction">
  <div class="container">
    <h2>Hi.</h2>
    <p>Here are ideas and products I am experimenting with or working on. Get in touch if you'd like to collaborate or chat with me!</p>
  </div>
</section>

<section id="projects" class="container">
  <!-- <p>Filter: experiements | projects. </p> -->
  <br>

  <ul class="project-list">
    <% data.projects.projects.each do |p| %>
      <li class="project-list-item">
        <%= partial(:project, locals: { project: p }) %>
      </li>
    <% end %>
  </ul>

</section>

<section id="call" class="container">
  <h2>Get in touch!</h2>
</section>
